<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vdart.apps.app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="VDart"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.vdart.apps.app.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.vdart.apps.app.BannerActivity" />
        <activity android:name="com.vdart.apps.app.Slidescreen" />
        <activity android:name="com.vdart.apps.app.SearchActivity" />
        <activity android:name="com.vdart.apps.app.SearchResults" />
        <activity android:name="com.vdart.apps.app.NotificationMain" />
        <activity android:name="com.vdart.apps.app.Feedback" />
        <activity android:name="com.vdart.apps.app.CeomessageActivity" />
        <activity android:name="com.vdart.apps.app.EventMain" />
        <activity android:name="com.vdart.apps.app.FullEvent" />
        <activity android:name="com.vdart.apps.app.FullNews" />
        <activity android:name="com.vdart.apps.app.NewsMain" />
        <activity android:name="com.vdart.apps.app.CeoMain" />
        <activity android:name="com.vdart.apps.app.GridList" />
        <activity android:name="com.vdart.apps.app.FacebookActivity" />
        <activity android:name="com.vdart.apps.app.TwitterActivity" />
        <activity android:name="com.vdart.apps.app.ForgetpasswordActivity" />
        <activity android:name="com.vdart.apps.app.ProfileActivity" />
        <activity android:name="com.vdart.apps.app.MainActivity" />
        <activity android:name="com.vdart.apps.app.EventGallery" />
        <activity android:name="com.vdart.apps.app.Changepassword_Activity" />
        <activity android:name="com.vdart.apps.app.DetailActivity" />
        <activity android:name="com.vdart.apps.app.ListingMore" />
        <activity android:name="com.vdart.apps.app.BannerItem" />
        <activity android:name="com.vdart.apps.app.QuizActivity" />
        <activity android:name="com.vdart.apps.app.quiz_activity_frag" />
        <activity android:name="com.vdart.apps.app.Resetpassword_Activity" />
        <activity android:name="com.vdart.apps.app.VideoActivity" />
        <activity android:name="com.vdart.apps.app.LiveTelecast" />

        <service android:name="com.vdart.apps.app.MyAndroidFirebaseMsgService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name="com.vdart.apps.app.MyAndroidFirebaseInstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".MainGallery"
            android:label="Details of notification"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>
        </activity>

    </application>

</manifest>