<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.user.energysoft">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Slidescreen" />
        <activity android:name=".BannerActivity"/>
        <activity android:name=".Feedback" />
        <activity android:name=".Resetpassword_Activity" />
        <activity android:name=".EventMain" />
        <activity android:name=".FullEvent" />
        <activity android:name=".FullNews" />
        <activity android:name=".NewsMain" />
        <activity android:name=".GridList" />
        <activity android:name=".FacebookActivity" />
        <activity android:name=".TwitterActivity" />
        <activity android:name=".ForgetpasswordActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".EventGallery" />
        <activity android:name=".Changepassword_Activity" />
        <activity android:name=".DetailActivity" />

        <service android:name=".MyAndroidFirebaseMsgService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".MyAndroidFirebaseInstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".BannerItem" />
        <activity android:name=".QuizActivity" />
        <activity android:name=".quiz_activity_frag"></activity>
    </application>

</manifest>